body {
    background-image: url("https://farm1.static.flickr.com/458/19419943380_43ecaaf882_b.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    color: white;
}

#NameBox {
    margin-left: auto;
    margin-right: auto;
    color: crimson;
    background-color: whitesmoke;
    width: 25%;
    text-align: center;
    position: relative;
}

#InfoBox {
    margin-left: auto;
    margin-right: auto;
    color: crimson;
    background-color: whitesmoke;
    width: 50%;
    height: 40%;
    position: relative;
    background-color: whitesmoke;
}

#MyPic {
    background-color: whitesmoke;
    display: inline-block;
}

#PicText {
    background-color: whitesmoke;
    height: 325px;
    display: inline-block;
}

#pindex {
    text-align: left;
    left: 20px;
    top: 15px;
    position: relative;
}

#LinksList {
    list-style-type: square;
}

.collapsible {
    background-color: whitesmoke;
    color: crimson;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: lightgray;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: crimson;
    color: whitesmoke;
    width: auto;
}

#MainBox {
    margin-left: auto;
    margin-right: auto;
    color: crimson;
    background-color: whitesmoke;
    width: 25%;
    height: auto;
    position: relative;
    background-color: whitesmoke;
}

.info {
    position: relative;
}

#list {
    list-style-type: circle;
}

.skillicon {
    float: left;
    width: 100px;
    height: 75px;
}

#Skillbox {
    margin-top: 15px;
    margin-left: 75px;
    margin-bottom: 200px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: crimson;
    background-color: whitesmoke;
    width: 25%;
    height: 100px;
    background-color: whitesmoke;
    display: inline-block;
    float: left;
}

#skilltext {
    text-align: left;
    margin-left: 120px;
    font-size: 16px;
}

#skilltext2 {
    font-size: 12px;
}
